.knowledges {
  .knowledgesContent {
    box-sizing: border-box;
    width: 100%;
    height: calc(90vh - 1rem); // Même hauteur que la sidebar
    margin: 0.5rem 0; // Mêmes marges que la sidebar
    position: relative;
    overflow: visible;
    display: grid;
    gap: 8px;
    padding: 0;
    grid-template-columns: 38% 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "L E E"
      "L E E"
      "O O H";

    // Pas d'effet glassbox sur le conteneur
    background: transparent;

    // Les 4 divs enfants occupent exactement la hauteur disponible
    .languagesFrameworks,
    .experience,
    .otherSkills,
    .hobbies {
      // overflow: hidden;
      height: 100%;
      box-sizing: border-box;
      margin: 0;
    }
  }
}